.single,
.blog {
  .header {
    height: 50vh;
  }
  .news-header {
    text-align: center;
    padding-bottom: 2rem;
  }
  .section-text {
    .button {
      margin: 1rem 0;
    }
    .heading-tertiary {
      padding: 2rem 0;
    }
  }
}
.post-block {
  .multi-grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
  .post-text {
    padding: 2rem 4rem;
    .meta {
      display: block;
    }
    .heading-secondary--sub {
      font-size: 1.7rem;
    }
  }
  .post-link {
    padding: 0 4rem 2rem;
    .button {
      text-align: left;
      padding: 0;
      color: $color-black;
      text-transform: uppercase;
    }
  }
}
